In [1]:
%load_ext autoreload
%autoreload 2
import sys
import pandas as pd
import numpy as np
sys.path.append("../trisbm/")
from trisbm import trisbm

In [2]:
df = pd.DataFrame(
index = ["w{}".format(w) for w in range(1000)],
columns = ["doc{}".format(w) for w in range(250)],
data = np.random.randint(1, 100, 250000).reshape((1000, 250)))

df_key_list = [
    pd.DataFrame(
index = ["w{}".format(w) for w in range(100+ik)],
columns = ["doc{}".format(w) for w in range(250)],
data = np.random.randint(1, 5+ik, (100+ik)*250).reshape((100+ik, 250)))
    
    for ik in range(3)
]

In [3]:
df.head()

,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9,...,doc240,doc241,doc242,doc243,doc244,doc245,doc246,doc247,doc248,doc249
w0,45,65,81,72,3,45,69,42,82,49,...,52,11,92,53,58,46,99,71,31,82
w1,99,22,18,59,18,3,43,1,70,80,...,29,70,79,14,65,61,59,96,63,61
w2,29,9,81,19,21,26,35,40,28,48,...,54,38,18,68,83,82,58,73,37,66
w3,87,96,44,65,33,25,61,85,95,94,...,51,6,44,17,6,59,23,20,24,61
w4,6,37,86,9,12,74,2,14,76,45,...,94,95,61,74,71,86,18,7,93,45

In [4]:
df_key_list[0].head()

,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9,...,doc240,doc241,doc242,doc243,doc244,doc245,doc246,doc247,doc248,doc249
w0,1,4,3,4,3,3,2,3,2,1,...,2,1,3,2,1,4,4,4,2,1
w1,1,4,4,3,4,3,4,1,1,4,...,3,2,1,4,2,1,1,4,4,4
w2,4,2,2,3,4,1,3,3,1,2,...,3,4,4,4,4,3,3,2,4,1
w3,4,2,1,4,4,4,3,1,2,3,...,1,4,2,1,2,2,1,2,2,1
w4,3,2,4,2,3,1,3,1,2,2,...,4,1,2,3,2,1,3,1,1,1

In [5]:
model = trisbm()

In [6]:
model.make_graph_multiple_df(df, df_key_list)

In [7]:
model.g.vp["kind"].a

PropertyArray([0, 0, 0, ..., 4, 4, 4], dtype=int32)

In [8]:
model.nbranches

3

In [ ]:
model.fit(n_init=1, B_min=50, verbose=False)

In [ ]:
model._get_shape()

In [ ]:
model.g

In [ ]:
model.metadata(0,-1,3)

In [ ]:
model.save_data()

In [ ]:
model.print_summary()

In [ ]:
model.metadata(l=0, n=-1, kind=2).keys()

In [ ]:
import graph_tool.all as gt

In [ ]:
colmap = model.g.vertex_properties["color"] = model.g.new_vertex_property("vector<double>")
for v in model.g.vertices():
    k = model.g.vertex_properties['kind'][v]
    if k < 1:
        color = np.array([137,128,193])/255.
    elif k < 2:
        color = np.array([130,200,93])/255.
    elif k < 3:
        color = np.array([210,82,58])/255.
    else:
        color = np.array([114,124,206])/255.
    colmap[v] = color

In [ ]:
gt.draw_hierarchy(model.state,
                subsample_edges=1500,
                vertex_color=colmap,
                vertex_fill_color=colmap,
                hedge_pen_width=5,
                hvertex_size=15,
                edge_pen_width=model.g.ep["count"])